
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    /* scroll-snap-type:y mandatory; */
    scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue", Helvetica,system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1440px;
  margin:0 auto;
  position: relative;
}

.parallex {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8)), url('/src/assets/backImg.jpg');
}

.darkimg {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('/src/assets/darkImg.jpg');
}

.list_style{
  list-style-image: url(./assets/Check.png);
}

section{
  /* height: 100vh; */
  /* scroll-snap-align: center; */
}

.line{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.gif {
    color: black;
    opacity: ;

    text-shadow: -1px 1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff,
        -1px -1px 0 #fff;
    }

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-slide {
  animation: 5s slide infinite linear;
  display: inline-block;
}

.logo-slide li{
  display: inline-block;
  margin: 0 50px;
  position: relative;
  padding: 1em;
}
/* create a bullet manually */
.logo-slide li::before {
  content: ".";
  position: absolute;
  left: 0;
  top: 10%;
  font-size: 50px;
}

